@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme("colors.brand.light");
}

* {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue",
    "Helvetica", sans-serif !important;
}

main {
  height: calc(100vh - 70px);
  width: 100vw;
  background-color: theme("colors.brand.light");
  overflow: auto;
}

/* react-modern-calendar-datepicker */
.DatePicker {
  z-index: unset !important;
}

.DatePicker__calendarContainer {
  z-index: 10 !important;
}

/* Toastify */
.Toastify__toast-body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue",
    "Helvetica", sans-serif;
}

.default-font {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue",
    "Helvetica", sans-serif !important;
}
