@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

main {
  height: calc(100vh - 70px);
  width: 100vw;
  background-color: theme("colors.brand.light");
  overflow: hidden;
}
