@tailwind base;
@tailwind components;
@tailwind utilities;

/* Local Font Import */
@font-face {
  font-family: "Inter";
  src: url("../../assets/inter/static/Inter-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/inter/static/Inter-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/inter/static/Inter-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/inter/static/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/inter/static/Inter-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/inter/static/Inter-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/inter/static/Inter-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/inter/static/Inter-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../assets/inter/static/Inter-Black.ttf");
  font-weight: 200;
  font-style: normal;
}

body {
  background-color: theme("colors.brand.light");
}

* {
  font-family: Inter, -apple-system, system-ui, BlinkMacSystemFont,
    "Helvetica Neue", "Helvetica", sans-serif !important;
}

/* .no-scrollbar class styling */
@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

main {
  height: calc(100vh - 70px);
  width: 100vw;
  /* background-color: theme("colors.brand.light"); */
  /* background-image: url("/images/usaf_mq-9_backgrounds/twilight_runway_mq9.png"); */
  background-image: url("/images/usaf_mq-9_backgrounds/twilight_runway_mq9.png"),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(220, 229, 240, 0.1)); /* Image and opacity layer */
  background-blend-mode: multiply; /* blend the image and background color */
  background-size: cover; /* ensure the image covers the full viewport */
  background-position: center center; /* center the background image */
  overflow: auto;
}

.default-font {
  font-family: Inter, -apple-system, system-ui, BlinkMacSystemFont,
    "Helvetica Neue", "Helvetica", sans-serif !important;
}

/* react-google-charts */
.google-visualization-tooltip {
  z-index: 100 !important;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  box-shadow: 2px 2px 4px #ccc !important;
  padding: 0px !important;
  background-color: #fff !important;
}

/* react-tooltip */
.react-tooltip {
  z-index: 999999 !important;
}

/* react-modern-calendar-datepicker */
.DatePicker {
  z-index: unset !important;
}

.DatePicker__calendarContainer {
  z-index: 10 !important;
}

/* Toastify */
.Toastify__toast-body {
  font-family: Inter, -apple-system, system-ui, BlinkMacSystemFont,
    "Helvetica Neue", "Helvetica", sans-serif;
}

.Toastify {
  z-index: 200000;
}

@keyframes pulse {
  0% {
    background-color: rgb(219, 234, 254, 0.8); /* Start color */
  }
  50% {
    background-color: rgb(
      219,
      234,
      254,
      0.3
    ); /* Middle color (change as needed) */
  }
  100% {
    background-color: rgb(219, 234, 254, 0.8); /* End color */
  }
}

/* Highlight Dependency Styling */
.highlight-dependency {
  /* background-color: rgb(219 234 254 / var(--tw-bg-opacity)); */
  background-color: rgba(219, 234, 254, 0.3); /* Initial background color */
  animation: pulse 1.5s infinite;
}

/* Highlight Dependency Styling */
.highlight-project {
  /* background-color: rgb(219 234 254 / var(--tw-bg-opacity)); */
  background-color: rgba(219, 234, 254, 0.3); /* Initial background color */
  animation: pulse 1.5s infinite;
}
